body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Raleway', sans-serif;
}

img {
    display: block;
}

.landing-header {
    /*    background-color: #FFF;*/
    display: flex;
}

.landing-header img {
    display: block;
    /*    width: auto;*/
    /*    height: auto;*/
}

.landing-header div {
    margin: 150px auto 250px auto;
}

.landing-header h1 {
    padding: 15px;
    height: 50%;
}

.smaller-header {
    /*    background-color: #FFF;*/
    display: flex;
}

.smaller-header img {
    display: block;
    margin: auto;
    /*    width: auto;*/
    /*    height: auto;*/
}

.smaller-header {
    margin: 5px auto;
}

.smaller-header h2 {
    padding: 5px 15px 0 15px;
    height: 50%;
}

.header-img {
    margin: 15px auto;
}

.header-img img {
    border-radius: 25px;
    border: solid black 1px;
    display: block;
    margin: 0 auto;
}

.justified-flex {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.justified-flex nav {
    margin-top: 20px;
    min-width: 75%;
}

ul {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: relative;
}

nav a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', 'Raleway', sans-serif;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

i {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
}


footer {
    background-color: #3B3852;
    color: white;
    text-align: center;
    font-size: 1.1em;
    padding: 10px;
}

footer a {
    color: white;
}

footer img {
    display: block;
    margin: 10px auto 10px auto;
}

/*centered*/
.home-logo {
    display: flex;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

.home-logo:hover {
    cursor: pointer;
}

/*top left*/
.logo {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: black;
}

.logo:hover {
    cursor: pointer;
}

.top {
    background-image: url(../images/2048px-mountains.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.small-top {
    background-color: #FCCECC;
    /*
    background-image: url(../images/2048px-mountains.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
*/
}

.down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    text-decoration: none;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.landing-content-header {
    background-color: #FCCECC;
    border-top: solid 2px white;
    border-bottom: solid 1px black;
    bottom: 20px;
    font-size: 1.5em;
    font-family: 'Montserrat', 'Raleway', sans-serif;
    text-align: center;
    margin: 0 0 25px 0;
    width: 100%;
}

.landing-content-header h2 {
    margin: 25px auto 25px auto;
    font-weight: 500;
}

.landing-content-header p {
    margin: 0;
    padding: 15px 0 15px 0;
}

.landing-content-header hr {
    margin: 0 auto 0 auto;
    max-width: 70%;
    border-top: 2px dashed gray;
}

.content-header {
    background-color: #3B3852;
    color: white;
    border-top: solid 1px white;
    font-size: 1.5em;
    font-family: 'Montserrat', 'Raleway', sans-serif;
    text-align: center;
    width: 100%;
}

.content-header h2 {
    margin: 25px auto 25px auto;
    font-weight: 500;
}

.content-header p {
    margin: 0;
    padding: 15px 0 15px 0;
}

.content-header hr {
    margin: 0 auto 0 auto;
    max-width: 70%;
    border: 1.5px dashed white;
}

.content {
    width: 70%;
    margin: 10px auto 10px auto;
    background-color: #FFFFFF;
    font-size: 1.2em;
}


.content p {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0.9em;
    margin-left: 10px;
    line-height: 1.4em;
    text-indent: 2.5em;
}

.content hr {
    margin: 0 auto 0 auto;
    border-top: 2px dashed black;
}

.content ul {
    margin: 0;
    padding: 0;
    padding-left: 3em;
    /*    font-size: 1.2em;*/
}

.content img {
    display: block;
    border: 1px solid black;
    margin: 15px auto 15px auto;
    max-width: 70%;
    height: auto;
}

.content h4 {
    margin-bottom: 5px;
}

.content h2 {
    text-align: center;
}

.normalize-img {
    max-width: 60%;
    margin: 15px auto;
    border-radius: 25px;
    border: solid black 1px;
}

.two-column {
    max-width: 70%;
    margin: 10px auto 10px auto;
    background-color: #FFFFFF;
    font-size: 1.2em;
}

iframe {
    margin: 15px auto;
    max-width: 100%;
    height: auto;
    display: block;
}

.two-column hr {
    margin: 0 auto 0 auto;
    border-top: 2px solid black;
}

.two-column h3 {
    text-align: center;
}

.two-column p {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0.9em;
    margin-left: 10px;
    line-height: 1.4em;
    text-indent: 2.5em;
}

.bordered-flex {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #fef5f5;
    margin: 0 auto;
}

.bordered {
    border: 2px solid black;
    background-color: #fef5f5;
    margin: 0 auto;
}

.bordered h4 {
    text-align: center;
    margin: 5px;
}

.bordered span {
    display: block;
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 2px;
}



.left-side {
    max-width: 70%;
    text-align: center;
    margin: 5px auto;
    padding: 5px;
}

.left-side img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 8px 0 8px 8px;
    border-radius: 25px;
    border: solid black 1px;
}

.left-side a {
    text-decoration: none;
    text-align: center;
}

.right-side {
    width: 70%;
    margin: 5px auto;
    padding: 5px;
}

.three-column {
    display: flex;
    flex-direction: row;
}

.three-column div {
    margin: auto;
}

.three-column span {
    margin: auto;
    font-size: 1.5em;
}

.img-attr {
    display: flex;
    flex-direction: column;
}

.img-attr img {
    border-radius: 25px;
    border: solid black 1px;
}

.img-attr a {
    text-decoration: none;
    text-align: center;
}

.img-attr p {
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 2px;
}

.logo-attr {
    display: flex;
    flex-direction: column;
}

.logo-attr img {
    max-width: 100%;
    border: none;
}

.logo-attr a {
    text-decoration: none;
    text-align: center;
}

.wrapper {
    height: 100%;
}

.flex-section {
    display: flex;
}

.top {
    background-image: url("../images/2048px-mountains.jpg");
}

.menu {
    display: none;
}

#mobile {
    display: none;
}
